<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ogliari.flutter.flutter_fiap_aula_http_mapas">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
